@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
  box-sizing: border-box;
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 0;
  background-color: rgb(0, 45, 60);
}