.container {
    position: relative;
    width: 1200px;
    height: 225px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    z-index: 1;
  }
  .table2 {
    position: absolute;
    display: inline-table;
    background-color: rgba(197, 192, 192, 0.726);
    border-radius: 10px;
  }
  .table2:hover {
    transition-duration: 0.5s;
    background-color: rgba(112, 111, 111, 0.726);
  }
  #bottone_dx2 {
    position: relative;
    top: -100px;
    left: 92.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  #bottone_sx2 {
    position: relative;
    top: 15%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .vertical-line {
    position: absolute;
    border-left: 1px solid black;
    height: 180px;
    left: 24%;
  }
  #mcdonalds {
    top: 50%;
    left: 12%;
    transform: translate(-50%, -50%);
    box-shadow: 5px, 5px, 15px, 4px#701;
  }
  #kfc {
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  #fiveguys {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  #subway {
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
  }
  #alice_pizza {
    top: 50%;
    left: 112%;
    transform: translate(-50%, -50%);
  }
  #montaditos {
    top: 50%;
    left: 134%;
    transform: translate(-50%, -50%);
  }
  #taco_bell {
    top: 50%;
    left: 156%;
    transform: translate(-50%, -50%);
  }