.elem {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  .wrapper#cucina {
    background-color: unset;
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    overflow-x: hidden;
  }

  .elem {height: 50px; }

  .box {
    display: flex;
    flex-direction: row;
    width: 140%;
    height: 250px;
  }
  .testo1 {
    width: 500px;
    background-color: unset;
    border: solid 1px;
    border-color: rgba(197, 192, 192, 0.726);
    border-radius: 5px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
    height: 35px;
    margin-bottom: 15px;
  }
  .table1 {
    background-color: unset;
    border-radius: 5px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    width: 100%;
    height: 100%;
  }
  .table1:hover {
    cursor: pointer;
  }
  .bottone#sx, .bottone#dx {
    width: 40px;
    height: 35px;
    background-color: unset;
    border-radius: 5px;
  }
  .bottone#dx {
    margin-left: 12px;
  }
  .bottone#sx:hover, .bottone#dx:hover {
    background-color: rgba(211, 208, 208, 0.726);
  }
  #bottone_sx1, #bottone_dx1 {
    background-color: unset;
    z-index: 2;
  }
  #bottone_dx1 {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 1299px) {
  .wrapper#cucina {
    background-color: unset;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0px;
    overflow-x: hidden;
  }

  .elem { height: 70px; }
  
  .box {
    display: flex;
    flex-direction: row;
    width: 140%;
    height: 250px;
  }
  .testo1 {
    width: 400px;
    background-color: unset;
    border: solid 1px;
    border-color: rgba(197, 192, 192, 0.726);
    border-radius: 5px;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
    height: 35px;
    margin-bottom: 15px;
  }
  .table1 {
    background-color: unset;
    border-radius: 5px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
    width: 100%;
    height: 100%;
  }
  .table1:hover {
    cursor: pointer;
  }
  .bottone#sx, .bottone#dx {
    width: 40px;
    height: 35px;
    background-color: unset;
    border-radius: 5px;
  }
  .bottone#dx {
    margin-left: 12px;
  }
  .bottone#sx:hover, .bottone#dx:hover {
    background-color: rgba(211, 208, 208, 0.726);
  }
  #bottone_sx1, #bottone_dx1 {
    background-color: unset;
    z-index: 2;
  }
  #bottone_dx1 {
    transform: rotate(180deg);
  }
}