/* My Dropdown */
.mydropdown {
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  transition: all 0.3 ease 0s;
  font-weight: 500;

  cursor: pointer;
}

.mydropdown:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Dropdown background */
.dropdownbackground {
  background-color: rgb(25, 70, 85);
  font-weight: 500;
}

/* Dropdown item */
.dropdownitem {
  color: white;
  transition: 0.4s;
  font-weight: 500;

  cursor: pointer;
}

.dropdownitem:hover{
  background-color: rgba(5, 50, 55);
  color: white;

  cursor: pointer;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: pointer;
}

.chosenlielement {
  /* Adding a background color and radius */
  background-color: rgb(10, 145, 180);
  border-radius: 25px;

  /* Removing the hover action */
  pointer-events: none;
  cursor: default;

  /*I will prevent people to select this text*/
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Old versions of Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}