/* This is used to keep the items centerd when the screen is smaller than the minimum */
body { min-width: 768px; display: flex; flex-direction: column; align-items: center;}

.logo {
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
}

.orders {
  display: inline-flex;
  justify-content: center;

  width: 95vw;
  height: 80vh;
  
  margin-top: 20px;
  opacity: 0;
}

.orderlist {
  float: left;
  
  width: 30%;
  height: 100%;

  max-width: 400px;
  min-width: 225px;
}

.currentorder {
  float: right;
  width: 70%;
  height: 100%;

  max-width: 930px;
  min-width: 525px;

  padding: 4vh 4vw 4vh 4vw;
  
  border: 3px;
  border-left-width: 0px;
  border-color: black;
  border-style: solid;
}

.leftorder_info {
  float: right;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
  width: 50%;
  height: 50%;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.leftorder_element {
  height: 20%;
  padding: 5px 5px 5px 5px;
  
  border: 3px;
  border-bottom-width: 0px;
  border-color: black;
  border-style: solid;

  cursor: pointer;
}

.empty_element {
  height: 20%;
  
  border: 0px;
  border-right-width: 3px;
  border-color: black;
  border-style: solid;
}

.updown_button {
  text-align: center;
  vertical-align: middle;
  line-height: 5%;
  height: 5%;
}

.ristname {
  float: left;
  width: fit-content;

  font-family: 'Bitcheese', 'Montserrat', sans-serif;
  font-size: large;
}

.price {
  text-align: center;
  width: 100%
}

.little_image { float: left; width: 50%; height: 100%; }

li {font-family: 'Bitcheese', 'Montserrat', sans-serif; font-size: large;}