@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

span, div, form{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

p, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

input {
  width: 95%;
  margin-bottom: 5px;

  height: 25px;
  border-radius: 10px;
}

hr {
  float: left;
  width: 96%;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;


  width: 96%;
  border-radius: 50px;
  margin-top: 10px;
}

button:hover {
  transition-duration: 0.3s;
  border-color: rgb(0, 45, 60);
  border-style: ridge;
  border-width: 6px;
}

.logosize {
  height: 10vh;
  width: 10vh;

  padding-top: 3vh;
  padding-bottom: 3vh;
}

.logodiv {
  background-color: rgb(0, 45, 60);
  border-radius: 200px;
  text-align: center;

  height: 16vh;
}

.formposition {
  padding-top: 20px;
  margin: auto;
  margin-bottom: 30px;
  
  width: 50vw;
}

.errore {
  color: red;
  font-size: small;
}


@media (max-width: 500px){
  /* Mobiles */
  .leftline{ width: 45%; float: left; text-align: center;}
  .rightline { width: 45%; float: right; text-align: center;}
  .littleinput { width: 85%; }
  button { width: 100% }
}

@media (min-width: 1440px){
  /* Big Screens, used to fix cap and city overlapping */
  .leftline{ text-align: left;}
  .rightline { text-align: left;}

  /* Adding width of span to prevent CAP/City and their input being on the same line */
  .itemtext { padding-right: 150px;}
}